/*

!.gitignore
!composer.json
!package.json
!tailwind.config.js
!frota.sql

!/app
/app/*

!/app/Frota
!/app/Frota/helpers.php

!/app/Http
/app/Http/*
!/app/Http/Controllers
/app/Http/Controllers/*
!/app/Http/Controllers/Admin
/app/Http/Controllers/Admin/*
!/app/Http/Controllers/Admin/UserController.php

!/app/Traits
/app/Traits/*
!/app/Traits/Helpers.php

!/app/Providers
/app/Providers/*
!/app/Providers/AppServiceProvider.php

!/app/Http/Requests
/app/Http/Requests/*
!/app/Http/Requests/Admin
/app/Http/Requests/Admin/*
!/app/Http/Requests/Admin/UserRequest.php
!/app/Http/Requests/Admin/BranchRequest.php

!/app/Models
/app/Models/*
!/app/Models/User.php

!/resources
/resources/*

!/resources/css
/resources/css/*
!/resources/css/app.css

!/resources/js
/resources/js/*
!/resources/js/contrasts.js
!/resources/js/helpers.js
!/resources/js/mask.js
!/resources/js/validates

!/resources/js/Components
/resources/js/Components/*

!/resources/js/Components/Admin
/resources/js/Components/Admin/*
!/resources/js/Components/Admin/Menus
/resources/js/Components/Admin/Menus/*
!/resources/js/Components/Admin/Menus/MainMenu.vue
!/resources/js/Components/Admin/Menus/Frota
!/resources/js/Components/Admin/Menus/Frota/*


!/resources/js/Layouts
/resources/js/Layouts/*

!/resources/js/Pages
/resources/js/Pages/*

!resources/js/Pages/Auth
resources/js/Pages/Auth/*
!resources/js/Pages/Auth/Login.vue

!/resources/views/
/resources/views/*

!/resources/js/Components/Frota
!/resources/js/Layouts/Frota
!/resources/js/Layouts/AuthenticatedLayout.vue
!/resources/js/Layouts/CustomBackgroundLayout.vue
!/resources/js/Pages/Frota
!/resources/views/Frota

!/resources/js/Pages/Admin
/resources/js/Pages/Admin/*
!/resources/js/Pages/Admin/UserEdit.vue
!/resources/js/Pages/Admin/UserCreate.vue

!/routes
/routes/*

!/routes/web.php
!/routes/Frota

!/database
/database/*

!/database/migrations
/database/migrations/*

!/database/migrations/2023_06_02_*
!/database/migrations/2014_10_12_000000_create_users_table.php
!/database/migrations/2014_09_29_100932_create_branches_table.php

!/database/seeders
/database/seeders/*

!/database/seeders/Frota*
!/database/seeders/UsersSeeder.php
!/database/seeders/BranchesSeed.php
!/database/seeders/ClientsSeed.php
!/database/seeders/DatabaseSeeder.php
!/database/seeders/InitUsersTableSeeder.php

!/public
/public/*
!/public/favicons
/public/favicons/*
!/public/favicons/verde
!/public/logos/
/public/logos/*
!/public/logos/logo_VV.*
