/*

!.gitignore
!composer.json
!package.json

!/app
/app/*

!/app/Frota
!/app/Frota/helpers.php

!/app/Http
/app/Http/*
!/app/Http/Controllers
/app/Http/Controllers/*
!/app/Http/Controllers/Admin
/app/Http/Controllers/Admin/*
!/app/Http/Controllers/Admin/UserController.php


!/resources
/resources/*

!/resources/js
/resources/js/*

!/resources/js/Components
/resources/js/Components/*

!/resources/js/Components/Admin
/resources/js/Components/Admin/*
!/resources/js/Components/Admin/Menus
/resources/js/Components/Admin/Menus/*
!/resources/js/Components/Admin/Menus/MainMenu.vue
!/resources/js/Components/Admin/Menus/Frota
!/resources/js/Components/Admin/Menus/Frota/*

!/resources/js/Layouts
/resources/js/Layouts/*

!/resources/js/Pages
/resources/js/Pages/*

!/resources/views/
/resources/views/*

!/resources/js/Components/Frota
!/resources/js/Layouts/Frota
!/resources/js/Pages/Frota
!/resources/views/Frota

!/resources/js/Pages/Admin
/resources/js/Pages/Admin/*
!/resources/js/Pages/Admin/UserEdit.vue

!/routes
/routes/*

!/routes/Frota

!/database
/database/*

!/database/migrations
/database/migrations/*

!/database/migrations/2023_06_02_*
!/database/migrations/2014_10_12_000000_create_users_table.php

!/database/seeders
/database/seeders/*

!/database/seeders/Frota*